[2018-04-16 18:33] JasonJWilliamsNY opened #1 "Updated version of RStudio"
RStudio has an updated interface, which slightly modifies the look as well as the creation of projects. We should update the image before proceeding.

[2018-10-02 23:50] naupaka opened #2 "Should all content be as Rmd files vs markdown files?"
Currently the first few lessons are `md` files instead of `Rmd` files. Do we want to standardize on Rmd, since many of the other episodes will need to be Rmd?

[2018-10-03 13:31] fmichonneau opened #3 "Rename repo"
We should rename the repository. Do you have suggestions? How is `genomics-r-intro`?

[2018-10-03 15:35] JasonJWilliamsNY commented on #3
Yes that is fine!

[2018-10-03 16:00] fmichonneau commented on #3
done

[2018-10-03 16:00] #3 closed

[2018-10-03 16:58] #2 closed

[2019-03-11 18:44] naupaka opened #11 "Improvements still needed for episodes 03 and 04"
Copied from #10

### 03-basics-factors-dataframes.Rmd

Questions and suggestions for help:

* Related to point 2 above, I'm not convinced that the REF column is an appropriate variable to use for this example as I can't construct an easy example of reordering the factors without introducing new syntax. Any suggestions appreciated. (starting on line 256)
* I'm having some trouble constructing relev

[2019-03-11 19:03] ErinBecker commented on #11
To add to this: PR https://github.com/carpentrieslab/genomics-r-intro/pull/10 also includes some incorporation of tidy vcf output into the ggplot episode, but I was finding that episode very challenging to adapt due to my lack of previous experience with vcf format. Improvements to that episode would be incredibly appreciated!

[2019-03-15 21:35] ErinBecker opened #13 "Add Setup information"
Setup information should NOT be listed in individual lesson repos, but should point back to the overall workshop setup page.

- [ ] Add any setup info that is specific to this lesson to the overall workshop setup page
- [ ] Add text that points learners from this setup page to overall workshop setup page

[2019-03-15 21:46] ErinBecker opened #14 "Create new directory on AMI"
[The first episode](https://carpentrieslab.github.io/genomics-r-intro/01-introduction/index.html) in this lesson tells learners they should be in the `/home/dcuser/dc_genomics_r` directory. I don't think this currently exists on the AMI. Need to create it.

[2019-03-15 21:48] ErinBecker opened #15 "Do we need to use setwd()?"
[The first episode](https://carpentrieslab.github.io/genomics-r-intro/01-introduction/index.html) has learners using setwd() and then tells them never to use setwd(). Do they need to use setwd() if they've already set up a project?

[2019-03-15 22:21] ErinBecker opened #16 "part of speech analogy confusing for non-English primary language speakers"
The section "Understanding object data types (modes)" in the [second episode](https://carpentrieslab.github.io/genomics-r-intro/02-r-basics/index.html) includes an extended analogy comparing R data types to parts of speech, using examples in English. I think this is a good analogy, but don't like the use of "jejune" and "Tuatara" as examples. Making these common words will make this analogy more r

[2019-03-15 22:43] ErinBecker opened #17 ""Magic of programming" tip is LOOOOONG"
The [second episode](https://carpentrieslab.github.io/genomics-r-intro/02-r-basics/index.html) includes a tip box called "magic of programming". This tip box is long and complex. I understand the rationale behind including it, but I would recommend the Maintainers make a decision about whether this material is important or not. If it is important, and Instructors should cover it, let's put it in t

[2019-03-15 23:02] ErinBecker opened #18 "Get rid of lists material?"
The end of [episode 2](https://carpentrieslab.github.io/genomics-r-intro/02-r-basics/index.html) includes a section on lists that is prefaced by "we're not going to use lists" in this lesson. I recommend removing this section to avoid the extra cognitive load.

[2019-03-15 23:18] ErinBecker commented on #14
For consistency with the other lessons in this workshop, let's call this directory `r_data`. The top level directory structure on the AMI will then be `r_data/`, `shell_data/`, `.solutions/`.

[2019-03-15 23:30] ErinBecker opened #20 "Update screenshots (WIP)"
- [ ] [episode 3](https://carpentrieslab.github.io/genomics-r-intro/03-basics-factors-dataframes/index.html) screenshot on loading in data shows submission_metadata file.

[2019-03-15 23:42] ErinBecker opened #21 "load tidyverse instead of dplyr in episode 4"
[Episode 4](https://carpentrieslab.github.io/genomics-r-intro/04-dplyr/index.html) has learners install and load dplyr, but then in [episode 5](https://carpentrieslab.github.io/genomics-r-intro/05-data-visualization/index.html) they load the full tidyverse library.

[2019-03-15 23:43] ErinBecker commented on #21
And do we need to even have them loading or installing packages, given that they're working on the cloud? I assume these packages are already installed on our AMI image, so maybe they have to load them but not install them?

[2019-03-18 17:09] ErinBecker opened #22 "remove section on read.xlsx"
From @naupaka:

See https://github.com/carpentrieslab/genomics-r-intro/pull/19

[2019-03-18 17:09] ErinBecker commented on #22
@JasonJWilliamsNY for feedback

[2019-03-19 20:25] naupaka commented on #21
I think it's best practice to explicitly load each of the needed libraries, instead of tidyverse as a whole. Probably worth going through the process of installing packages at least once -- it's a crucial skill for novices to learn (even though, as you point out, they will likely already be installed on the ami).

[2019-03-19 20:27] naupaka commented on #17
That seems reasonable to me. It's plenty of material as is, esp for just one day.

[2019-03-19 20:28] naupaka commented on #16
I agree and like 'common' -> 'commonly' and 'chair' -> 'chairs'

[2019-03-19 20:31] naupaka commented on #15
No! If you use `setwd()` Jenny Bryan will set your computer on fire! :)

We should remove that.

https://www.tidyverse.org/articles/2017/12/workflow-vs-script/

[2019-03-19 20:52] ErinBecker opened #24 "ggplot episode cleanup"
The major bit of work that needs to be done before the alpha release is around cleaning up the ggplot episode. There are some code chunks and one or two exercises that integrate the vcf dataset, but I haven't had much luck in transitioning the rest of the code and exercises away from the metadata dataset. So this episode currently does not render. This is the biggest bit of work that needs doing b

[2019-03-19 20:52] ErinBecker commented on #24
@naupaka - would you be able to help out here? I'm not familiar with the vcf format and what all of the variables indicate, so haven't been able to come up with good examples.

[2019-03-19 21:36] naupaka commented on #24
Sure, but not till the weekend at the soonest.

[2019-03-19 23:23] ErinBecker commented on #24
Thanks @naupaka, that's perfect. If you get the time to do some work on this this weekend or so, please don't worry about all the formatting and such. Even if you could give me a list of appropriate visualizations to create, that would be a real big help. I could take it from there and get those incorporated into the lesson.

[2019-03-26 08:36] fmichonneau opened #25 "Notice: this repository has moved"
As we are nearing the alpha release of this lesson, it has been transfered from `carpentrieslab` to the `datacarpentry` GitHub organization. While GitHub will redirect automatically, I encourage you to update the URL of your remotes:

[code]

The lesson is now rendered at: <https://datacarpentry.org/genomics-r-intro>

Please open an issue if you notice anything broken with the deployment/travis.

[2019-03-27 14:50] ErinBecker commented on #25
Thanks @fmichonneau. Should we archive the carpentrieslab repo?

[2019-03-27 14:51] ErinBecker commented on #24
Hey @naupaka - just a heads up that @ryanpeek was able to help me come up with appropriate visualizations for this data. I've put in a PR using his suggestions at #26. Review would be greatly appreciated!

[2019-03-27 15:48] fmichonneau commented on #25
no need to, the repository is transferred so there is no trace of it left at carpentrieslab!

[2019-03-27 16:36] ErinBecker commented on #25
Excellent, thanks @fmichonneau!

[2019-03-27 20:01] ErinBecker commented on #24
Closed with #26

[2019-03-27 20:01] #24 closed

[2019-04-09 16:16] JasonJWilliamsNY opened #29 "Aggregating and Analyzing Data with dplyr only 5 verbs"
Intro says 6 verbs will be covered but five are mentioned (is the pipe meant to be counted as one)?

[code]

[2019-04-09 16:21] JasonJWilliamsNY opened #30 "Episode 03-R Basics continued uses inconsistent examples"
I think there was a completed R-Basics lessons using the "made up" E.coli metadata, but it looks like it was half-written over to accommodate the new example VCF file. I think the intention was to have bridging episode that let's users import the VCF themselves (as a challenge using what they have learned). Right now the lesson is a mix of instructions and screenshots from the lesson as it was and

[2019-04-09 16:25] JasonJWilliamsNY commented on #21
I agree with the idea of having learners install a library. Might I suggest that this could be part of a final episode where we go into CRAN and Bioconductor? We could err on the side of caution/reproducibility by basing important parts of the lesson only on what is preinstalled, and then showing this later.

[2019-04-09 16:27] JasonJWilliamsNY opened #31 "Episode 4 - attribution to Hollister still needed?"
This attribution was needed originally, not sure if it still applies here.

[2019-04-09 16:29] JasonJWilliamsNY opened #32 "Episode 4 - too few questions/challenges"
I like to have several challenges for each topic introduced if possible. One does not have to do them all but right now the entire episode only has 2. Also the `split-apply-combine` challenge and explanation is not built up piece by piece, so I think we could elaborate.

[2019-04-15 20:01] jananiravi commented on #21
@naupaka I generally agree with the thought process behind library requirement & loading practices for R-newbies, but as far as `tidyverse` goes, I think loading the whole suite is more robust than individual packages because of the high level of interdependencies. From the workshops we have conducted so far, it seems like loading this works with far fewer errors than individual ones except when t

[2019-04-15 20:04] jananiravi commented on #13
@ErinBecker I'm not able to access this: https://datacarpentry.org/genomics-workshop/setup/ Is it because I don't have the right permission to? thanks!

[2019-04-15 20:47] maneesha commented on #13
Looks like the link is not correctly formatted.
It works if you go to https://datacarpentry.org/genomics-workshop/setup.html

@jananiravi  Where do you see the link as you have it?

[2019-04-15 21:50] jananiravi commented on #13
@ErinBecker sent me a similar one without the html. I updated the 01 intro lesson accordingly. thanks, Maneesha.

[2019-04-16 21:45] fmichonneau opened #35 "June 2019 Lesson Release checklist"
If your Maintainer team has decided not to participate in the [June 2019 lesson release](https://carpentries.topicbox.com/groups/maintainers/T61c75ac1a8a89538/timeline-and-process-for-june-lesson-release), please close this issue.

To have this lesson included in the 18 June 2019 release, please confirm that the following items are true:

- [ ] Example code chunks run as expected
- [ ] Challenges

[2019-04-25 19:41] JasonJWilliamsNY opened #36 "List of R package name explanations"
This may be a good resource: http://jeromyanglim.blogspot.com/2010/05/abbreviations-of-r-commands-explained.html

[2019-05-07 14:33] JasonJWilliamsNY opened #38 "01-introduction: getwd() diffrent on docker"
RStudio (by design) handles how symbolic links are handled differently so..

Docker
[code]
linux/aws/etc.

[code]

I don't think its  a big deal, and may not be something we can fix so I'd just mention it

[2019-05-07 14:49] JasonJWilliamsNY opened #39 "02-r-basics: Order of solutions in "Exercise: Create objects and check their modes" is wrong"
The order of the solutions is incorrect

[2019-05-07 15:06] JasonJWilliamsNY opened #40 "02-r-basics: Formatting issue in "Exercise: Examining and subsetting vectors""
Check the formatting - there is a line break missing in list of questions. Should check all exercise formatting.

[2019-05-07 15:14] JasonJWilliamsNY commented on #30
Looking at this now I also wonder if there is a pedagogical difficulty in jumping to the VCF data right now. Before the examples were simple E.coli metadata, but I feel like the VCF example is distracting because we need to think about what we are seeing in the VCF rather than the R syntax we are learning. It's possible that this will feel better since it will be taught a day after working with th

[2019-05-07 15:18] JasonJWilliamsNY opened #41 "03-basics-factors-dataframes: Importing data from Excel example is broken"
This example and screenshots uses the older Ecoli submission metadata. Once a choice is made, the example should be updated.

[2019-05-07 15:25] JasonJWilliamsNY commented on #22
There aren't additional dependencies for our install - I think knowing about the excel import is such a win for people nervous to get started with R. It's such a basic thing to stumble at, if people get this to work, they can later get more comfortable with read functions. Also many people will have Excel data they want to bring in.

[2019-05-07 15:27] JasonJWilliamsNY commented on #21
installing dplyr took a few minutes so an instructor needs to plan for this. Also we don't explain the warnings in the lesson which can be scary for newcomers.

[2019-05-07 15:30] JasonJWilliamsNY opened #42 "04-dplyr: Selecting columns and filtering rows - output is incorrect"
The output of

[code]
Is much longer than shown ... perhaps just put the command in `head()`?

[2019-05-07 15:35] JasonJWilliamsNY commented on #32
This lesson should end with some actual questions. Right now the examples show how dplyr functions work, but we don't seem to be going anywhere with a purpose.

[2019-05-07 15:37] JasonJWilliamsNY opened #43 "05-data-visualization: loading ggplot2 starts with an error in the lesson page"
Should fix!

[2019-05-07 15:39] JasonJWilliamsNY opened #44 "05-data-visualization - This lesson is pre-alpha"
We don't have valid outputs or images... objectives and questions are not clearly laid out. This lesson is not yet at the alpha stage!

[2019-05-07 15:41] JasonJWilliamsNY commented on #44
There is no narrative on what we are plotting and why

[2019-05-07 15:45] JasonJWilliamsNY opened #45 "XX-knitr-markdown: images misssing"
Key images at the beginning of the lesson are missing

[2019-05-07 15:48] JasonJWilliamsNY opened #46 "XX-knitr-markdown: link/credit to existing lesson"
This content seems to have been copied from
http://kbroman.org/datacarpentry_R_2018-01-08/04-rmarkdown.html

I don't see any attribution or know what's up with this.

[2019-05-07 15:49] JasonJWilliamsNY opened #47 "XX-knitr-markdown: This lesson is pre-alpha"
This lesson does not tie back to the rest of the genomics content/examples.

[2019-05-07 15:52] JasonJWilliamsNY opened #48 "XX-knitr-markdown -LaTeX not installed on Docker image"
LaTeX is not on the Docker image. Consider installing so that we can demonstrate knitting to PDF

[2019-05-07 16:03] fmichonneau commented on #48
you should be able to only install [tinytex](https://yihui.name/tinytex/)

[2019-05-07 18:01] JasonJWilliamsNY commented on #48
Updated image with texlive

[2019-05-07 18:01] #48 closed

[2019-05-08 05:42] laijasmine opened #49 "CONTRIBUTING.md: links broken"
I was looking at the CONTRIBUTING.md file:

and neither of the links work.

[2019-05-08 09:26] gosianow commented on #43
+1
We would like to use that lesson at the beginning of July. Do you think you would be able to have it fixed by then? Many thanks

[2019-05-09 18:10] Confurious opened #50 "Episode 2: Discussing the assignment operator "->" vs "=""
In episode 2, I feel the discussion of the assignment operator "->" vs "=" should happen really early when first introducing "->", especially that people from other background may be confusing with "->".

In addition, the actual discussion regarding this issue "Use the recommended assignment operator: In R, we use ‘<- ‘ as the preferred assignment operator. ‘=’ works too, but is most commonly used

[2019-05-10 06:43] #43 closed

[2019-05-10 06:45] fmichonneau commented on #43
this turned out to be a bug in the package we use to detect lesson dependencies. The fix here is a workaround

[2019-05-14 22:48] ErinBecker commented on #35
Hey @JasonJWilliamsNY @naupaka @ahmedmoustafa and @kpoterlowicz - Just checking to see if you're planning on including this lesson in the June 2019 release. I know it will still be `alpha` at that point, but wasn't sure if you were planning on doing an official release on Zenodo or saving that for the `beta` release down the road.

I know that, regardless of whether you're shooting for a full rele

[2019-05-14 22:51] #14 closed

[2019-05-15 22:06] Sailendharan commented on #40
I checked the whole lesson, review exercise 1 and review exercise 2 are the other ones I found to have line breaks missing between the questions and choices.

[2019-05-16 18:23] JasonJWilliamsNY commented on #50
Most R style guides use the convention `<-` for assignment and `=` for function parameters. It's considered bad form to use `=` for assignment and makes your code less usable by the majority of the community who adhere to that style.

[2019-05-16 20:08] Confurious commented on #50
Well there are entire stats textbooks written using = instead of <-, for
example Modern Statistics for Modern Biology by Susan Holmes and Wolfgang
Huber. And I also don't understand why it makes the code less usable by
other people if these two are interchangeably? I actually find the
suggestions that we need to use two different interchangeable things for
otherwise identical purposes very confusi

[2019-05-16 22:48] kpoterlowicz commented on #50
Hi @Confurious there is a reason why we should not use "=" for assignment in R as this is stated in R manual https://stat.ethz.ch/R-manual/R-devel/library/base/html/assignOps.html. See  https://chrisvoncsefalvay.com/assignment-in-r/  for some examples  where  <- and = behave differently in R.

[2019-05-24 08:54] kpoterlowicz commented on #50
close #50

[2019-05-30 16:21] fmichonneau opened #52 "update link to dplyr cheatsheet"
it's linking to a version from 2015

[2019-05-30 18:44] #52 closed

[2019-05-30 20:18] fmichonneau opened #53 "add more context in the ggplot lesson"
some explanation about why we are plotting these 2 variables against each other when doing the scatterplot would be useful.

[2019-05-31 13:20] JasonJWilliamsNY opened #54 "Help section is missing from this repo"
A previously written episode on help is missing. I have found that content: https://github.com/JasonJWilliamsNY/dc_genomics_intro_to_r_r_studio_dev/blob/gh-pages/_episodes/99-r-help.md

[2019-05-31 18:11] fmichonneau opened #55 "talk about "class" rather than "mode""
while the output wouldn't be different for this lesson, beginners would benefit more from knowing "class" rather than "mode". For instance on data frames/tibbles, mode returns `list` which can be confusing.

[2019-05-31 19:52] jananiravi commented on #55
Is there a particular lesson/example (line number) you had in mind that would help elaborate this clarification?

[2019-06-02 00:23] aortiz24 commented on #21
I'd like to help solve this issue. Is there a specific implementation you had in mind?

[2019-06-03 20:30] jananiravi commented on #45
Added the dialog screenshot in a PR.

[2019-06-03 20:32] jananiravi commented on #46
Yeah, just noticed it when I came across `Karl Broman` listed in the text. 🤔
Is the outline going to be revised to specifically output the workflow for the preceding genomics lesson? Or is this to serve as a general intro to `RMarkdown` to supplement the cheatsheet?

[2019-06-03 20:39] jananiravi commented on #36
An end-of-lesson summary sounds like a great idea! Would it be more useful to include small summary lists of commands introduced in the individual lessons that can later be compiled to a master list?
_e.g.,_ https://jananiravi.github.io/talk/using-tidyverse-for-genomics-workshop/
![image](https://user-images.githubusercontent.com/8397074/58832939-fee36600-861d-11e9-967f-b1ac262e7643.png)

[2019-06-06 14:16] jananiravi commented on #36
@ErinBecker @JasonJWilliamsNY would you like me to add something like these to each of the R lessons?

[2019-06-10 19:33] #35 closed

[2019-06-10 19:33] ErinBecker commented on #35
I'm closing this issue as this lesson isn't ready for the June 2019 release.

[2019-06-18 04:44] naupaka commented on #21
Thanks for diving on this, @aortiz24!

After reading through this and the current rendering of the materials ([here](https://datacarpentry.org/genomics-r-intro/)), my sense is that this issue is now no longer relevant, since with the revision to the lessons episode 5 now uses `ggplot2` directly. I also noticed there's reference to `readxl` in episode 3, which precedes the discussion of packages, w

[2019-06-26 15:05] #50 closed

[2019-07-08 13:06] tobyhodges opened #60 "Incomplete links in `CONTRIBUTING.md`"
Hey folks, there are some FIXMEs in `CONTRIBUTING.md` - it would be good to update those with links to this repository.

[2019-07-08 13:07] tobyhodges commented on #60
Duplicate issue, sorry

[2019-07-08 13:07] #60 closed

[2019-07-08 14:43] tobyhodges opened #61 "Inconsistent use of "data frame" and "dataframe""
There is use of both "dataframe" and "data frame" in the lesson, e.g. in https://datacarpentry.org/genomics-r-intro/04-dplyr/index.html. "Data frame" seems to be the accepted form ("dataframe" appears nowhere in the equivalent DC Ecology lesson).

[2019-07-23 09:36] jessepharrison opened #62 "Episode 05 (Data Visualization): geom_jitter()"
Reading through the ggplot2 section, I feel this part could be clarified:

_Notice that we can change the geom layer and colors will be still determined by sample_id_

[code]

Previous parts of the lesson involve using `geom_point()` and the difference between that vs. `geom_jitter()` is not described, apart from stating that we're changing the geom layer. This could be confusing since the two plo

[2019-08-08 09:21] cbrueffer opened #66 "data frame vs tibble in 4. Aggregating and Analyzing Data with dplyr"
Section `4. Aggregating and Analyzing Data with dplyr` talks about data frames, but all examples return tibbles. I think it would be helpful to have a short section which explains the main differences between the two.

[2019-09-03 08:37] MariaTsayo opened #68 "Episode 2: data frame VS list"
Since the next episode is about importing a data frame, the novices would benefit from generating a data frame instead of the list on the bonus material.

[2019-09-05 16:01] CreRecombinase commented on #66
I'm in the process of making a pull request about this, but might it make more sense to just stick with `tibbles` for the whole thing?  If we go all-in with loading `tidyverse` (as suggested in #21 ) instead of loading `dplyr`, we get `readr` for free, which means we can use `read_delim` instead of `read.table`.  That means the instructor is spared the distracting diversion into `stringsAsFactors`

[2019-09-12 20:30] ErinBecker opened #70 "lesson contribution [submitted by email]"
For the lesson contribution component of the checkout, I will be focusing on the Intro to R and Rstudio for Genomics lesson (found here: https://datacarpentry.org/genomics-r-intro/). Specifically I will be focusing my contributions on the Producing Reports With knitr (https://datacarpentry.org/genomics-r-intro/XX-knitr-markdown/index.html).

I love the lesson - it does a great job of stressing rep

[2020-03-02 01:59] yuanxiesa opened #73 "Complete a few missing pieces for Lesson "Data Visualization with ggplot2""
Hello,

As a part of my checkout process, I would like to contribute to this lesson. Since the "question" part is still blank, I formulated a few and supplied my own answers. I think those are very important concept in understanding ggplot. You are welcome to incorporate those answers into the course materials, adding it anywhere you see fit.

Below is my contribution.

Questions
1. What is the gr

[2020-04-29 17:34] timcashion opened #74 "Add 'citations' and 'bibliography' subject to Producing Reports episode"
Something I've found very helpful for my own report writing in RMarkdown is the use of references directly in the report. I find this makes it easier to convert these directly to reports/scientific manuscripts or to document the sources of your data and methods.

Here's a rough sketch of how I think this could be included:

**In-Text Citations and Bibliography**
One other helpful addition availabl

[2020-04-30 19:26] jrmuirhead opened #75 "Typo in diagram of RStudio panel layout"
There's a typo in the figure for the R layout that occurs just after the
heading Overview and customization of the RStudio layout
in datacarpentry/genomics-r-intro/_episodes_rmd/01-introduction.Rmd.

Environment is spelled wrong in the figure.

The file is located at "/fig/rstudio_session_4pane_layout.png. This is a straight-forward fix, and I would be happy to produce a corrected diagram.

<img w

[2020-07-02 16:40] ytakemon commented on #75
Thanks for noticing the typo, @jrmuirhead! I will fix add a fix to this in the next few days.

[2020-07-13 16:53] #49 closed

[2020-07-27 17:04] zkamvar opened #78 "RFC: Migration to R 4.0"
During the June Maintainer meeting, we asked for comments and experiences with the migration to R 4.0 so that we could create guidance for maintainers and instructors. We have drafted a short blog post (https://github.com/carpentries/carpentries.org/pull/830) to be released next week (2020-08-03) that describes our recommendations for migration. You can find a [preview of the blog post here](https

[2020-07-30 17:19] ytakemon commented on #78
Thanks @zkamvar - I am just seeing this message now. I will need to go over some of the diffs, but at first glance, it looks like a change we can address quickly without major effect on the lesson.

[2020-07-30 17:43] zkamvar commented on #78
Awesome! I realized I didn't include the images in the diffs (d'oh!), but I just did a quick visual check and nothing appears to have changed between the versions.

[2020-08-12 14:59] sstevens2 opened #81 "Update lesson status"
I'm wondering if this lesson should be updated to Beta status.  We've taught it a couple times now and I know there are others who have as well.

[2020-08-13 19:03] sstevens2 opened #84 "Add count into dplyr episode"
We show using group_by + summarize + n to count but I'm thinking maybe we should add using the count function as well since it is commonly used function.  I like to show the usage of group_by/summarize/n and then talk about how this is a common function so they've created a shortcut to both group and summarize at the same time with `count`.

[2020-08-14 14:48] maglet commented on #66
I agree, the lessons should use tibbles throughout. so, use read_csv for the lesson instead of read.csv

[2020-08-14 14:52] maglet opened #85 "use read_csv instead of read.csv"
As referenced in #66 i think we should replace read.csv with read_csv to get into tibbles right away

This will eliminate the need for head because tibbles only display 10 lines in the output

I find learners are ok with the explanation that tibbles work mostly the same as data frames, but we can have an aside with more detail

[2020-08-14 14:53] maglet opened #86 "discripancy in test where .csv file is"
The text says the vcf.csv file is here: (which is wrong)

/home/dcuser/.solutions/R_data/

But the code says its here ("../r_data/combined_tidy_vcf.csv") which is right

[2020-08-19 17:14] ytakemon commented on #81
Thanks for bringing this up, @sstevens2 ! Beta seems appropriate according to the [lesson life cycle](https://cdh.carpentries.org/the-lesson-life-cycle.html). Let me bring this up to the Genomics R maintainer team when we meet next week and get back to you. Cheers

[2020-08-19 17:22] ErinBecker commented on #81
Yes, I think beta would be appropriate. Please let me know what the team decides and I can help make sure everything gets updated with the new status.

[2020-08-20 02:05] ytakemon commented on #85
Hello @maglet - Thank you for this input. We will be working to transition the whole lesson towards using Tidyverse terminology moving forward and so this will be addressed in the very near future. Cheers

[2020-09-18 11:25] NadineBestard commented on #73
Hi,
I do not know if this issue is trying to adress the same: In overview the "Question" part is missing. But this is just where the Objectives should be adress in form of a question to catch the learner interest.
The key points are also missing.

[2020-09-20 23:26] naupaka opened #89 "Interested in helping shape R-genomics?"
These lessons are still in alpha and are being actively developed. Since things are still in a state of flux, we don't have specific issues that need help at the moment, but if you are interested in participating, comment on this issue.

[2020-11-30 21:14] ewallace commented on #89
Hi! I'm interested in helping. We are teaching using some of this material [in Edinburgh over the next couple of weeks](https://edcarp.github.io/2020-12-01-edinburgh-bio-online/). We [forked the material to put some Edinburgh-specific information such as our local RStudio server](https://github.com/edcarp/genomics-r-intro).

I'm particularly interested in helping with the ggplot material, as I wil

[2020-11-30 21:18] ewallace commented on #81
We're about to teach from this material in Edinburgh - anything our team can do to help on the alpha -> beta front?

[2020-11-30 21:35] ewallace opened #92 "Package load errors in website builds"
Hi,
There seem to be package loading errors in the current page builds:

* [Error in loadNamespace(name): there is no package called 'readxl'](https://datacarpentry.org/genomics-r-intro/03-basics-factors-dataframes/index.html)
* [Error in library("dplyr"): there is no package called 'dplyr'](https://datacarpentry.org/genomics-r-intro/04-dplyr/index.html)
* [Error in library(ggplot2): there is no p

[2020-11-30 21:42] ewallace commented on #41
Request, maybe for @JasonJWilliamsNY or @ErinBecker: could you post a link to `Ecoli_metadata.xlsx` here if possible? We are hoping to teach this lesson real soon.

Long-term request: could you add `Ecoli_metadata.xlsx` to the figshare repo?

Apologies if this file was already on the figshare repo; @FlicAnderson and I thought we had looked.

[2020-11-30 22:49] naupaka commented on #92
@fmichonneau might know -- I don't think we're using Docker for these?

[2020-11-30 22:50] naupaka commented on #89
@ewallace thanks for your interest! We're making slow and steady progress getting these polished. We'll get some more details posted soon here on GH.

[2020-11-30 23:00] zkamvar commented on #92
The reason for this is because while the scripts in the `bin/` folder have been updated, the `Makefile` has not. The solution is to update the Makefile with the one that's currently in the styles repo.

Specifically the problem is with the `lesson-md` rule:

https://github.com/datacarpentry/genomics-r-intro/blob/e97f1d8d4c7b2ade2527ee658fac2627ec394f0c/Makefile#L88-L92

In [the current version of

[2020-11-30 23:56] baileythegreen commented on #92
@zkamvar I was not seeing errors related to R packages not loading, but I suppose they were failing silently. Updating the Makefile in my fork did indeed work for rendering the markdown versions of the lessons.

There still seem to be some issues with the deploy step in both mine and EdCarp's fork, but looking at the datacarpentry repo's Action history, I don't think this step has been shown to wo

[2020-12-07 12:38] fmichonneau commented on #92
Thanks for reporting this.
I believe that adba75ba3ca27b1856c75eb333f5807d10443b46 fixes the issue.

Regarding the deployment for forks, I have started a [Pull request](https://github.com/carpentries/lesson-example/pull/318) with instructions. Your feedback and comments would be appreciated.

[2020-12-07 12:38] #92 closed

[2020-12-17 21:31] oliviaAB opened #94 "Typo in "Introducing Factors" due to R 4.0.0"
Hi,

I don't think this has been reported before: due to the change to R 4.0.0, the function read.csv() now does not convert strings to factors. Therefore, is section 3: basic factors dataframe, in the paragraph Introducing Factors, the results of the commands don't match the text, i.e. variants$REF is not a factor anymore. Maybe the section about factors should be moved earlier, when introducing

[2020-12-18 00:53] zkamvar commented on #94
Just popping in to add some extra information:

The changes due to R 4.0 can be found in #78 and we wrote some recommendations for migration earlier this year: https://carpentries.org/blog/2020/08/r-4-migration/

[2020-12-21 18:11] ewallace commented on #73
I've tried to address some of these in pull request #95, and would appreciate feedback on that.

[2020-12-21 18:13] ewallace commented on #53
I've tried to address this in #95. Feedback is welcome!

[2020-12-21 18:14] ewallace commented on #44
I've tried to address this in #95, and taught the lesson. I hope this brings it up at least to alpha, maybe to beta level? Feedback welcome.

[2020-12-21 18:21] ewallace commented on #81
So @edcarp taught the material in Edinburgh and it went well.
Lesson homepage: https://github.com/edcarp/2020-12-01-edinburgh-bio-online
Feedback here: https://pad.carpentries.org/2020-12-01-edinburgh-bio-online

I just put in pull request #95, which is intended to move lesson 5 up to beta, i.e. #44.
Also @FlicAnderson taught episodes 1-4, and we aim to put in some more pull requests on those in t

[2021-01-07 01:04] sstevens2 commented on #81
Note for when the maintainers are interested in making this beta, there needs to be an update the data Carpentry Lessons page too. Currently, this lesson is is listed in the "Lessons in Development" table and says it is Alpha there.

[2021-01-07 15:37] zkamvar commented on #81
If I recall correctly, making this beta involves changing the tag from alpha to beta on the github landing page (note the right of the image):

![GitHub landing page for datacarpentry/genomics-r-intro](https://user-images.githubusercontent.com/3639446/103911622-1963a800-50bb-11eb-8035-f693659980ea.png)

[2021-01-07 15:42] tobyhodges commented on #81
And the banner on the lesson pages can be updated by setting `life_cycle: "beta"` in `_config.yml`.

[2021-01-12 10:11] yonathantilahun commented on #89
Will you be producing any lessons on using Qiime2? If so I would like to contribute to the lesson on using R and R-studio for Qiime2.

[2021-02-11 12:29] jananiravi commented on #89
@naupaka I'm interested in contributing, especially with integrating tidyverse with the genomics lessons.

[2021-02-11 12:31] jananiravi commented on #85
Sounds good -- I am happy to help with transitioning to tidyverse, @ytakemon.

[2021-02-22 04:21] naupaka commented on #89
@yonathantilahun no plans to incorporate QIIME at this time, unfortunately.

@jananiravi great! We're working through the alpha version, but once we get that in place I'm sure there will be lots of ways to plug in to the development.

[2021-03-01 22:49] Talishask opened #97 "Lesson Contribution: Setup Information"
I'm a member of The Carpentries staff and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

---

I've found that the setup page for the Intro to R and RStudio for Genomics has not been created yet, and the setup requirements for the Genomics Workshop Overview seem to diff

[2021-03-21 23:51] SaskiaFreytag opened #98 "Rename object 'a' to 'first_value'"
In lesson 2 "R basics", I find it a bit confusing that you make an object called 'a' and then in the next section explain how that is a bad name. I think it would be better if 'a' could be renamed as 'first_value' to reflect good naming procedures.

[2021-03-29 22:42] mxiang128 commented on #89
Hi, I'd like to contribute to content related to RNA sequencing (bulk, single-cell), statistics and data visualization (ggplot2). The current genomics curriculum is a good start but needs additional lessons in quantitative and comparative analysis to make it more complete.

[2021-05-19 10:50] amnahsiddiqa opened #100 "adding information about different data import functions explicitly by either base r or some package"
I wanted to contribute in improving the material from episode "R Basics continued - factors and data frames".
It is just a small contribution if it helps.

"Importing tabular data into R" is a very good start for novices but  I think it would
be helpful to have a short section which adds at least two clarifications:

1- When introducing read.csv(), it could be helpful to mention that read_csv() ex

[2021-06-09 14:34] #61 closed

[2021-06-09 16:06] JasonJWilliamsNY commented on #97
Thanks @Talishask ! It's now on my plate to start fixing this. Do you want to actually submit this as a pull request so that you are properly credited in the GitHub contribution history? Let me know if I can further assist.

[2021-06-11 01:07] Talishask commented on #97
Hi @JasonJWilliamsNY, I submitted this issue on behalf of an instructor training trainee and am unable to move this forward.

[2021-06-11 01:08] JasonJWilliamsNY commented on #97
Ok did not realize. Do you have a name/GH ID for them so they can be credited for the contribution?

[2021-06-11 01:15] Talishask commented on #97
I do not believe so. After giving them credit towards checkout I typically share the issue information with them so that they can follow the issue if they are on github. So unless they self identify I am not able to do more.

[2021-06-11 16:11] JasonJWilliamsNY commented on #97
OK, thanks

[2021-06-14 21:24] ufangYang opened #104 "key points are missing in Data Visualization with ggplot2 episode"
At the bottom of the page of `Data Visualization with ggplot2`, the items in the key points are missing.

[2021-08-03 15:50] NadineBestard opened #105 "Why cloud R?"
The content of this lesson is an abreviate version of [R for Reproducible scientific Analysis](http://swcarpentry.github.io/r-novice-gapminder/) with a focus in genomics. However, it is very dependent on the shell lessons intro to understand the data and the AWS setup.

In many other Carpentries lessons there is a big focus in getting students ready to go on their own computers. Recently a carpent

[2021-08-26 15:26] chechoid opened #106 "05 Adding information of the context of ggplot2"
Is it possible to add an image of the layers that you can control with ggplot2 like this one?

[https://englelab.gatech.edu/useRguide/images/dataviz/ge_themes.png](https://englelab.gatech.edu/useRguide/images/dataviz/ge_themes.png)

My suggestion to the content is the following:

The layers you can control are this one:

* **Data**: The source of the data that you're going to visualize.
* **Aesthe

[2021-08-28 00:11] naupaka commented on #89
@chechoid thanks for the interest! The lessons are almost ready for a beta release, and at that point we'll have a number of issues needing attention.

[2021-08-30 11:52] chechoid commented on #89
ok @naupaka, that's great news! I cheris this lesson because it's the one I used for my Data Carpentry certification, so I'll do everything I can to develop it.

[2021-09-03 15:56] qualiaMachine opened #107 "Add example on saving ggplots"
There should be an example on using ggsave() to save ggplots in the section on Data Visualization with ggplot2 (05-data-visualization.Rmd)

[2021-11-10 16:33] ytakemon commented on #107
@ahmedmoustafa

[2021-11-10 16:33] ytakemon commented on #106
@ahmedmoustafa

[2021-11-10 16:33] JasonJWilliamsNY commented on #11
This issue is now made obsolete by the examples used in the current versions of this lesson.

[2021-11-10 16:33] #11 closed

[2021-11-10 16:34] ytakemon commented on #104
@ahmedmoustafa

[2021-11-10 16:36] JasonJWilliamsNY commented on #15
Kids will find out about `setwd()` and I'd rather they find out from us.

The point here was to show that the command exists but explain that you generally will not want to use it, so in context I hope that it actually is trying to make a more memorable point.

[2021-11-10 16:36] #15 closed

[2021-11-10 16:36] ytakemon commented on #100
This had been addressed in a recent pull request #96

[2021-11-10 16:36] #100 closed

[2021-11-10 16:39] ytakemon commented on #94
This has been fixed in a recent pull request #96

[2021-11-10 16:39] #94 closed

[2021-11-10 16:39] JasonJWilliamsNY commented on #16
Made obsolete by current version of lesson

[2021-11-10 16:39] #16 closed

[2021-11-10 16:41] ytakemon commented on #85
This is now addressed in a recent transition to using tidy-centric functions in a recent pull request #96

[2021-11-10 16:41] #85 closed

[2021-11-10 16:42] ytakemon commented on #84
Agreed! This is included here #108

[2021-11-10 16:42] #84 closed

[2021-11-10 16:44] ytakemon commented on #78
This has been fixed in a recent pull request #96

[2021-11-10 16:44] JasonJWilliamsNY commented on #20
This issue is made obsolete by the current version of the materials

[2021-11-10 16:45] #75 closed

[2021-11-10 16:45] JasonJWilliamsNY commented on #21
I think this is now obsolete @naupaka can you confirm (and close)?

[2021-11-10 16:47] JasonJWilliamsNY opened #110 "Problem in build of dataframes episode"
Problem in build of dataframes episode. I'll address

[2021-11-10 16:47] JasonJWilliamsNY commented on #22
It was decided to keep this.

[2021-11-10 16:47] #22 closed

[2021-11-10 16:48] #25 closed

[2021-11-10 16:48] #29 closed

[2021-11-10 16:49] #30 closed

[2021-11-10 16:49] ytakemon commented on #73
@ahmedmoustafa can you review-self assign?

[2021-11-10 16:50] JasonJWilliamsNY commented on #32
I leave to @ytakemon and the maintainer group to discuss and decide if we now have enough example questions. Looking much better.

[2021-11-10 16:51] JasonJWilliamsNY commented on #36
Maintainers should revisit this idea

[2021-11-10 16:54] JasonJWilliamsNY commented on #39
Fixed in current lesson, but for some reason there is an additional error message displayed in the lesson evaluation on the site build. I'll see if I can remove that to make things a bit cleaner.

[2021-11-10 16:54] jananiravi commented on #36
We could start with a couple of example lessons and see how a description table like this helps. What do you think?

[2021-11-10 16:55] JasonJWilliamsNY commented on #38
Need to check if Docker is still being used. If only the AWS is being used  then this is moot. As far as the official lessons this can be closed.

[2021-11-10 16:55] #38 closed

[2021-11-10 16:56] JasonJWilliamsNY commented on #31
Not needed in current version of lessons.

[2021-11-10 16:56] #31 closed

[2021-11-10 16:57] naupaka commented on #41
Updated in the current lessons. The xlsx file is committed into the repo here:
https://github.com/datacarpentry/genomics-r-intro/blob/main/_episodes_rmd/Ecoli_metadata.xlsx

[2021-11-10 16:57] #41 closed

[2021-11-10 17:01] ytakemon commented on #32
`Split-apply-combine` section has been updated in #108. It now includes a question/challenge at the end.

[2021-11-10 17:01] #32 closed

[2021-11-10 18:12] JasonJWilliamsNY commented on #110
Fixed by #111

[2021-11-10 18:12] #110 closed

[2021-11-10 18:21] naupaka commented on #21
No longer relevant because the new lessons include loading of several packages.

[2021-11-10 18:21] #21 closed

[2021-11-10 18:24] naupaka commented on #70
@kpoterlowicz can you take a look and see if this can/should be incorporated into the knitr lesson?

[2021-11-10 18:27] naupaka commented on #68
Episode 3 goes into some detail on data frames, and I think the most common use case is loading data in from a file instead of creating data frames from scratch (especially for beginners), so I'm closing this issue.

[2021-11-10 18:27] #68 closed

[2021-11-10 18:31] naupaka commented on #66
Should be addressed by changes in https://github.com/datacarpentry/genomics-r-intro/pull/96

[2021-11-10 18:31] #66 closed

[2021-11-10 18:33] naupaka commented on #62
@ahmedmoustafa can you review-self assign?

[2021-11-10 18:34] naupaka commented on #55
@JasonJWilliamsNY I think this pertains to your lessons (1-3)

[2021-11-10 19:25] naupaka commented on #54
Closing this since we can discuss on the PR -- #112

[2021-11-10 19:25] #54 closed

[2021-11-10 19:27] naupaka commented on #53
Closing because the discussion on #95 supersedes this issue

[2021-11-10 19:27] #53 closed

[2021-11-10 19:28] naupaka commented on #47
Hopefully this will be addressed by @kpoterlowicz's revision of the knitr episode.

[2021-11-10 19:28] naupaka commented on #46
Hopefully this will be addressed by @kpoterlowicz's revision of the knitr episode.

[2021-11-10 19:30] naupaka commented on #45
Hopefully this will be addressed by @kpoterlowicz's revision of the knitr episode.

[2021-11-10 19:31] naupaka commented on #44
@ahmedmoustafa can you review-self assign?

[2021-11-10 19:33] naupaka commented on #42
Fixed in current version of the material.

[2021-11-10 19:33] #42 closed

[2021-11-10 19:39] naupaka commented on #40
Resolved in current version of lesson

[2021-11-10 19:39] #40 closed

[2021-11-10 19:41] naupaka commented on #39
The error happens because the assignment fails for the object that doesn't exist. Not sure how you'd get rid of it?

[2021-11-10 19:49] naupaka commented on #105
@NadineBestard the vision is to have this be at the end of the shell-genomics lessons in a sequence, so the data output from those lessons are the inputs to these (since this is a Data Carpentry lesson vs a Software Carpentry lesson, there is more emphasis on integration vs modularity of content). Hence, the use of RStudio Server instead of local R. In a real genomics processing workflow where dat

[2021-11-10 19:51] naupaka commented on #18
Seems reasonable to me. It's just a very small section. Or, it could be moved to a callout in the data frames lesson and we could make the point that data frames are lists.

[2021-11-24 20:24] eltonjrv opened #114 "05-data-visualization: i) suggestion of a tool for "melting" a dataframe to the 'long' format; ii) citing more examples of geom_"
Please delete the text below before submitting your contribution.

Howdy folks,
First of all, congrats for that effort on creating this quite nice 'alpha' version of this brand new R for genomics workshop.
Please find my comments/suggestions below:
i) On the "Plotting with ggplot2"  2nd paragraph, perhaps it might be worthwhile adding an addendum (or a link for further consultation after class) ab

[2021-11-24 20:35] eltonjrv opened #115 "01-introduction: typo"
Howdy folks,
First of all, congrats for that effort on creating this quite nice 'alpha' version of this brand new R for genomics workshop.

On "Tip: Never use setwd()" topic, there is a typo on the sentence: "R packages like here and file.path allow you to specify file paths is a way that is more operating system independent".
Please replace "... file paths is a way ..." by "... file paths in a wa

[2021-11-25 19:33] NadineBestard opened #116 "Why using the cloud?"
The lesson states:
`this work could be done on your laptop, but we use instances to simplify workshop setup requirements, and to get you familiar with using the cloud (a common requirement for working with big data).`

We already show how to use the cloud with the previous lessons ( there is even a whole chapter on it, where we could add a few lines about Rstudio server).
Download a csv file and i

[2021-12-08 16:40] naupaka opened #117 "Related content available in another incubator lesson"
https://carpentries-incubator.github.io/bioc-intro/index.html

May be worth linking to or otherwise mentioning? Or at some point coordinating with.

[2021-12-08 16:43] tobyhodges commented on #117
Further context: that lesson is one of three currently under development by members of the Bioconductor community in the Incubator. Here are links to the other two:

- [The Bioconductor Project](https://carpentries-incubator.github.io/bioc-project/)
- [RNA-Seq Analysis with Bioconductor](https://carpentries-incubator.github.io/bioc-rnaseq/)

[2021-12-08 16:47] ytakemon commented on #114
Hi @eltonjrv,

Thanks for the suggestions. We've recently updated the dplyr/tidyverse lesson (pull #108) to incorporate `pivot_longer()` and `pivot_wider()` which should address the reshaping suggestion you had while keeping to our tidyerverse format.

As for the ggplot lessons perhaps @ahmedmoustafa could take a look at that.

[2022-02-23 15:57] JasonJWilliamsNY opened #119 "Moving into the new lesson format"
Maintainers should consider migrating to this for beta?

https://carpentries.org/blog/2022/01/live-lesson-infrastructure/#fn:1

[2022-03-23 22:06] ntsotakos commented on #89
Hi @naupaka, how close are these lessons to the beta release? I had my Instructor Training recently, and I currently teach Bioinformatics, so I am willing to help any way I can (and can field test in my class).

[2022-03-25 22:47] naupaka commented on #89
@ntsotakos I believe the next formal step is for them to be piloted with one or more of the maintainers in attendance, then any revisions made, etc. The maintainers are working on adding content to the knitr and ggplot lessons at the moment. If you look through the lessons as they are and add any issues you spot, that would likely be helpful and we work though this phase!

[2022-04-04 02:38] JSBoey opened #120 "Definition of "$" not addressed in episode 3"
Hi! There seems to be missing clarification for episode 3 about the use and importance of the sigil ($) for accessing column names in a data frame (line 213 in `03-basics-factors-dataframes.Rmd`). The document mentions "this will be important later" but provides no further context. Examples of places where `$` is used and contextual definition might be important:
 - Episode 2 (Bonus material): Acc

[2022-04-25 01:04] naupaka commented on #47
@tracykteal here's the issue regarding the knitr lesson.

The existing lesson it comes from is here: https://ucsbcarpentry.github.io/2019-04-11-UCSB-SW-Workshop/r-novice/15-knitr-markdown/index.html (see also https://github.com/datacarpentry/genomics-r-intro/issues/46 )

[2022-04-27 23:16] anjalisilva opened #122 "Data Visualization with ggplot2 objective: titles, subtitles, and fonts"
Dear lesson maintainers,

As a part of my checkout process, I would like to contribute to this lesson. My suggestion relates to lesson on 'Data Visualization with ggplot2'. One of the objectives of this lesson states: 'Customize plot scales, titles, subtitles, themes, fonts, layout, and orientation'. However, I do not see some of these concepts covered. For title, subtitles and fonts, this may be

[2022-05-11 19:13] JasonJWilliamsNY opened #123 "Add introductory/background episode for a 1-day workshop version of the R lessons"
When the R Genomics material is taught on its own, learners have no background information on the data set and its associated narrative. They may also not understand what a VCF file is. Materials from https://datacarpentry.org/organization-genomics/data/ and  https://datacarpentry.org/wrangling-genomics/04-variant_calling/index.html could be re-organized into an episode to provide some background

[2022-05-20 23:26] ytakemon commented on #123
@JasonJWilliamsNY ,  I couldn't quite figure out how to add this lesson to the schedule on the main page (https://datacarpentry.org/genomics-r-intro/), could you assist with this? I think lesson should take about 15 mins to cover.

[2022-05-20 23:27] JasonJWilliamsNY commented on #123
@ytakemon let me look into that this weekend. Thanks!

[2022-05-22 00:00] #123 closed

[2022-05-22 00:10] JasonJWilliamsNY commented on #123
@ytakemon somehow after running `make lesson-check` things seem to have worked and this is now live. Thanks!

[2022-06-08 20:48] #114 closed

[2022-06-08 22:27] ahmedmoustafa commented on #107
Added an example for `ggsave()`

[2022-06-08 22:27] #107 closed

[2022-06-08 22:36] ahmedmoustafa commented on #104
The key points section has been added.

[2022-06-08 22:36] #104 closed

[2022-06-10 20:44] ahmedmoustafa commented on #122
Thank you, @anjalisilva 🙏 Examples for changing the title and font of the plot have been added to the lesson.

[2022-06-10 20:44] #122 closed

[2022-06-11 03:52] ahmedmoustafa commented on #73
Thank you so much @yuanxiesa! Your contribution has been [integrated into the lesson](https://datacarpentry.org/genomics-r-intro/06-data-visualization).

[2022-06-11 03:52] #73 closed

[2022-06-12 19:40] ahmedmoustafa opened #140 "latex not rendering"
latex code in the Rmarkdown episode e.g., `$x$` doesn’t render as expected (i.e., 𝑥), instead, it is displayed as is (`$x$`) in the [generated HTML](https://datacarpentry.org/genomics-r-intro/06-data-visualization/index.html).

[2022-07-13 01:07] ErinBecker opened #142 "To do list from beta pilot (2022-05-25-aucenter-online)"
Below is a summary of the [20 pages of notes](https://docs.google.com/document/d/1NcfrDI-0LxvpHHUN76Z-EA47y-FCey5Ck8fnna4_QTI/edit#) the workshop observers took at the first beta pilot workshop teaching this lesson (2022-05-25-aucenter-online). Issues are listed by episode and are described in an actionable way wherever possible. In a few cases, more discussion may be needed within the developer t

[2022-08-05 22:38] sstevens2 opened #144 "Remove setwd() in favor of Rproj"
I saw the discussion of setwd in issue #15 and would like to bring this up for discussion again.  I feel like we should add a bit more to the section about creating a project about *why* you should create a project - for example that it sets your working directory which is great for a self contained project that is reusable by others.  Then we could remove the section teaching `setwd()` and instea

[2022-08-05 22:42] sstevens2 opened #145 "Reuse Proj folder from shell/datawrangling"
One of the things I love most about DC ecology is that we continue to build up a nicely structure project folder throughout the workshop.  Maybe instead of making `dc_genomics_r` they could continue with the folder they make in the shell lesson and then use in the data wrangling lesson, `dc_workshop`?

[2022-08-08 20:47] sohyunbk opened #146 "vcf.csv file for Data Analysis and Visualization"
The half of the episodes in [Data Analysis and Visualization in R](https://datacarpentry.org/genomics-r-intro/), requires "/home/dcuser/r_data/combined_tidy_vcf.csv" file for variants object.
Some people might not have the file if they did not perform analysis from the previous lesson, but want to learn data analysis in R.
It would be great if we connect the link to download the vcf.csv file in ht

[2022-08-17 18:25] kerchner opened #147 "Where is bioconductor vcfR used in the lesson?"
I just want to make sure I'm reading the lesson materials correctly.  In "Using packages from Bioconductor", students install the vcfR package from Bioconductor.   Is there any part of the lesson after this point where students use functions from vcfR?  Or is the point of this section mainly to just show how one would install packages from Bioconductor if one were going to use them?

[2022-09-05 21:19] naupaka commented on #147
The script that takes the vcf files and tidies them for the data viz lesson uses `vcfR`. There was intent at one point to demonstrate a few of the simple plotting functions that the `vcfR` package makes available, but they may not yet be added in.

[2022-09-05 21:20] naupaka commented on #146
It is available here: https://github.com/datacarpentry/genomics-r-intro/tree/main/data

But I agree it would be nice to have a link to download it if they don't have it from previous episodes.

[2022-09-06 23:22] naupaka opened #148 "Move introduction to the VCF file from the first episode to later when it is relevant. It is too much information for learners at the start of the workshop."

[2022-09-06 23:22] ytakemon opened #149 "Add callout explaining why ?read.csv opens read.table help file"

[2022-09-06 23:34] ytakemon opened #150 "We used read.csv() to read in the variants data, but the lesson seems to have used read_csv in the background. This is affecting the output for example on the `select` calls, which on the lesson page is showing tibble output but for learners/instructors is printing the full output to screen."

[2022-09-07 00:23] ytakemon commented on #150
Closed by #152

[2022-09-07 00:23] #150 closed

[2022-09-07 00:28] naupaka commented on #148
Closed by #153

[2022-09-07 00:28] #148 closed

[2022-09-15 21:19] welijahclark opened #154 "Episode 02 - R Basics"
I noticed that the R for Social Scientists lessons (here: https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html) has not only the tidyverse R styleguide but also the [Google R styleguide](https://google.github.io/styleguide/Rguide.html) and [Jean Fan's R styleguide](http://jef.works/R-style-guide/). For consistency across disciplines and across the datacarpentries.org site, I would like t

[2022-11-09 15:10] ytakemon opened #157 "Change the exercise on creating a table so that the solution is a series of steps rather than a single command. Also may need to make hint more explicit, as we haven’t taught ‘contains’ but information about it appears in the help file for ‘ends_with’."

[2022-11-09 15:10] ytakemon opened #158 "Note in exercise solution for creating a table that ‘contains’ is not case sensitive."

[2022-11-09 15:19] ytakemon commented on #157
Issue #158  is related to this

[2022-11-09 16:00] ytakemon opened #160 "When demonstrating the OR operator, change the code chunk to use two numerical variables. Is currently filter(variants, sample_id == "SRR2584863", (INDEL | QUAL >= 100)) and INDEL is logical."

[2022-11-09 16:09] #157 closed

[2022-11-09 16:09] #158 closed

[2022-11-09 16:18] ytakemon opened #162 "The challenge “Select all the mutations that occurred between the positions 1e6 (one million) and 2e6 (included) that are not indels and have QUAL greater than 200.” needs to be worded more clearly."

[2022-11-09 16:27] naupaka opened #163 "Fix broken screenshot of bioconductor homepage"

[2022-11-09 16:28] ytakemon opened #164 "Exercise for pipe and filter has a typo in question (“shwoing”). Filtered columns should be included in select so learners can confirm result."

[2022-11-09 16:28] ytakemon opened #165 "This challenge solution includes negation (!INDEL), which hasn’t been taught yet. Can instead do INDEL = FALSE"

[2022-11-09 16:28] ytakemon opened #166 "Move explanation of QUAL from the mutate section to the first time QUAL is used (in challenge above)."

[2022-11-09 16:31] naupaka opened #168 "Header level is off on “Second, install the vcfR package from Bioconductor using BiocManager”"

[2022-11-09 16:34] naupaka opened #169 "Header level is off and broken screenshot on “Search for Bioconductor packages based on your analysis needs”"

[2022-11-09 17:05] naupaka opened #170 "We haven’t talked about packages anywhere else, and only mentioned base R briefly. We may need a bit more material to introduce why packages are necessary/useful etc."

[2022-11-09 17:05] naupaka opened #171 "Installing packages from Bioconductor vs from CRAN) seems pretty nuanced and advanced - is there a way to simplify this for the learner? I think we hadn't introduced installing from CRAN yet, before talking about Bioconductor?"

[2022-11-09 17:05] ytakemon opened #172 "In “group by and summarize” section, take out the section using n() and go directly to tally(). Can then introduce summarize later with more complex examples."

[2022-11-09 17:06] naupaka opened #173 "Installing packages from Bioconductor vs from CRAN) seems pretty nuanced and advanced - is there a way to simplify this for the learner? I think we hadn't introduced installing from CRAN yet, before talking about Bioconductor?"

[2022-11-21 04:57] naupaka commented on #89
It's mostly through the beta phase; been piloted formally once and they're aiming for another one soonish. We're in the midst of a big overhaul (see #142) so perhaps it would be easiest (e.g. to avoid merge conflicts) to hold off on any PRs for now. General issues or suggestions are always welcome though!

[2022-11-21 05:12] naupaka commented on #89
Yes those are the files. You can also check the rendered version [datacarpentry.org/genomics-r-intro/](https://datacarpentry.org/genomics-r-intro/)